@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans m-0 p-0 bg-gradient-to-r from-blue-100 to-pink-100 min-h-screen;
  }

  a {
    @apply font-medium text-blue-600 hover:text-blue-800 no-underline;
  }

  h1 {
    @apply text-4xl leading-tight;
  }

  button {
    @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-gray-900 text-white hover:border-blue-500 focus:outline-none focus:ring;
  }
}

/* Style the custom cursor */
.custom-cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none; /* Ensure the cursor div doesn't interfere with clicks */
  transform: translate(-50%, -50%); /* Center the circle on the mouse pointer */
  transition: top 0.1s ease, left 0.1s ease, width 0.3s ease, height 0.3s ease, background-color 0.3s ease, border 0.3s ease; /* Smooth transition for size and color changes */
  z-index: 9999;
}

/* Hover state for buttons and links */
.custom-cursor.hover {
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.5); /* Grey with 50% opacity */
  border: none; /* Remove the border on hover */
}